# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.egg-info/
dist/
build/

# Venv
.venv/
env/

# VS Code
.vscode/.ropeproject
*.code-workspace

# Data & runs
data/
runs/
reports/logs/
reports/figures/

# OS
.DS_Store
Thumbs.db
